{
  "plugins": [
    "react",
    "@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {

    // stops the 'React' was used before it was defined  no-use-before-define error for .js files.
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],

    "react/prop-types": 1,
    "react/jsx-handler-names": "off",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    
    "comma-dangle": [2, {
      "arrays": "always-multiline",
      "exports": "always-multiline",
      "functions": "never",
      "imports": "always-multiline",
      "objects": "always-multiline"
    }],

    "space-before-function-paren": [2, {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "always"
    }],

    "jsx-quotes": [2, "prefer-double"],
    "no-var": 2,

    "semi": [2, "never"],
    "lines-between-class-members": "off"
  },
  
  "extends": ["standard", "standard-react"],

  "env": {
    "browser": true,
    "jest": true,
    "jasmine": true
  }
}
