// $brand-primary: #337ab7

// $action-size: 24px
// $folder-colour: #333
// $file-colour: $brand-primary
// $selection-colour: $brand-primary
// $selection-text-colour: #fff
// $dragover-colour: #eee

$main-size: 1rem
$main-padding: 0.5rem
$main-colour: #337ab7

div.rendered-react-keyed-file-browser
  div.action-bar
    display: flex

    input[type="search"]
      flex: 1
      padding: $main-padding/2 $main-padding
      font-size: $main-size
      line-height: 1em

    .item-actions
      flex: 1
      text-align: right
      margin: 0
      padding: 0

    ul.item-actions
      display: block
      li
        display: inline-block

  //   display: block
  //   line-height: 40px
  //   font-size: 15px
  //   text-align: right

  //   div.filters
  //     position: relative
  //     span.clear
  //       position: absolute
  //       top: 50%
  //       right: 8px
  //       transform: translateY(-50%)
  //       color: #888
  //       cursor: pointer
  //       &:hover
  //         color: #333

  //   ul
  //     list-style: none
  //     margin: 0
  //     padding: 0
  //   li
  //     display: inline-block
  //     margin: 0
  //     margin-left: 5px
  //     padding: 0
  //     &.waiting i
  //       color: $brand-primary

  // div.files
  //   // table and list styles
  //   tr.folder, li.folder
  //     a:not(.btn)
  //       color: $folder-colour
  //       text-decoration: none
  //       &:hover
  //         cursor: pointer

  // p.loading, p.empty
  //   margin: 16px 0

@import './editor'
@import './table-style'
@import './list-style'
