$main-size: 1rem !default
$main-padding: 0.5rem !default
$main-colour: #337ab7 !default

div.rendered-react-keyed-file-browser
  div.action-bar
    margin-bottom: $main-padding

    input[type="search"]
      display: block
      width: 100%
      padding: $main-padding/2 $main-padding
      font-size: $main-size
      line-height: 1em
      margin-bottom: $main-padding
      border: 0.1rem solid #ddd

    .item-actions
      text-align: right
      margin: 0
      padding: 0
      line-height: $main-size + $main-padding
      font-size: $main-size

    ul.item-actions
      display: block
      li
        display: inline-block
        margin: 0
        &:not(:last-child)
          margin-right: $main-padding

@import './table-style'
@import './list-style'
