name: publish package

on:
  release:
    types: [prereleased, released]

jobs:
  publish-gpr:
    name: publish to github
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: https://npm.pkg.github.com/

      - name: installing packages
        run: yarn install

      - name: building
        run: yarn build

      - name: publishing package
        run: yarn publish --version ${{ github.ref_name }}
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
